body {
    background-color: rgba(236, 250, 252, 0.8) !important;
}

#navPic {
    border-radius: 50%;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    color: rgb(236, 250, 252);
}

h4 {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    color: rgb(2, 2, 37);
}


.title {
    font-size: 60px;
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
    color: rgb(236, 250, 252);
}

.name {
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
}

p {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    color: rgb(236, 250, 252);
}


.hero1 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: url(../images/cat4.jpg);
    background-size: 90%;
}
.jumboRight {
    width: 60%;
    padding: 0px 0px 0px 5%; 
    
    
}

#img1 {
    width: 70%;
    display: flex;
    float: center;
    border-radius: 80%;
    transform: translateX(20%);
}


h3 {
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-family: 'Roboto Slab', serif;
    font-weight: 900 !important;
    color: rgb(2, 2, 37);
}

#pic1 {
    align-items: center;
    justify-content: center;
    width: 40%;
    border-radius: 50%;
    margin-bottom: 15px;
}

.webRedesign {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

}

.cardContainer {
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.work {
    margin-bottom: 15px;
    padding: 0px 0px 30px 0px;
}

.card {
    margin-left: 15px;
}

.card-body {
    color: blue;
}

.hero2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../images/lightblue.png);
    background-color: transparent !important;
    margin-bottom: 0 !important;
}

.hero2 h5 {
    font-size: 40px;
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
    color: rgb(2, 2, 37);
}

.hero2 p {
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    color: rgb(8, 80, 109);
}

.my-4 {
    color: blue;
}

.lead p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.aboutme {
    display: flex;
    padding-top: 30px;
}

.skills {
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
    padding-right: 1.25rem;
  }

.nav-item {
    margin: 0px 15px;
    font-family: 'Titillium Web', sans-serif;
  }

.navbar-brand {
    padding-left: 2rem;
  }

.customNav {
    position: fixed;
    width: 100%;
    background: url(../images/black.png);
    background-color: transparent !important;
    background-size: cover;
    z-index: 10;
}

.customNav a {
    color: white !important;
    font-family: 'Roboto Slab', serif;
  }

.socials {
    padding-top: 15px;
}

.socialmedia {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin: auto;
    width: 80%;
}

.carousel {
    padding-top: 15px;
}

.quote {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.mb-0 p {
    color: white;
}

footer {
    background: url(../images/black.png);
    background-color: transparent !important;
}

.btn {
    font-family: 'Titillium Web', sans-serif;
}

#tracking-in-contract {
	-webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

 @-webkit-keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    } 
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
  
  .modal-backdrop {
      z-index: 0;
  }